In [12]:
pip install nba_api

Requirement already satisfied: nba_api in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (1.2.1)
Requirement already satisfied: requests in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (from nba_api) (2.28.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (from nba_api) (1.23.5)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (from requests->nba_api) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (from requests->nba_api) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (from requests->nba_api) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /Users/devintrapp/anaconda3/lib/python3.10/site-packages (from requests->nba_api) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
from pathlib import Path

In [15]:
# Make a reference to the comic_books_expanded.csv file path
csv_path = Path("stadiums.csv")

stadiums_df = pd.read_csv(csv_path, encoding="utf-8")

stadiums_df

                   Team League            Division        Lat        Long
0      Dallas Mavericks    NBA                West  32.790556  -96.810278
1         Orlando Magic    NBA                East  28.539167  -81.383611
2     San Antonio Spurs    NBA                West  29.426944  -98.437500
3        Denver Nuggets    NBA                West  39.748920 -105.008400
4         Brooklyn Nets    NBA                East  40.682661  -73.975225
..                  ...    ...                 ...        ...         ...
146     Chicago Fire FC    MLS  Eastern Conference  41.862300  -87.616700
147  Philadelphia Union    MLS  Eastern Conference  39.832222  -75.378889
148           FC Dallas    MLS  Western Conference  33.154444  -96.835278
149       FC Cincinnati    MLS  Eastern Conference  39.111389  -84.522222
150    New York City FC    MLS  Eastern Conference  40.829167  -73.926389

[151 rows x 5 columns]

In [21]:
NBA_stadiums = stadiums_df(League = "NBA")

NBA_stadiums

TypeError: 'DataFrame' object is not callable

In [6]:
from nba_api.live.nba.endpoints import scoreboard

In [10]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:30]

Number of players fetched: 4815

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False},
 {'id': 949,
  'full_name': 'Shareef Abdur-Rahim',
  'first_name': 'Shareef',
  'last_name': 'Abdur-Rahim',
  'is_active': False},
 {'id': 76005,
  'full_name': 'Tom Abernethy',
  'first_name': 'Tom',
  'last_name': 'Abernethy',
  'is_active': False},
 {'id': 76006,
  'full_name': 'Forest Able',
  'first_name': 'Forest',
  'last_name': 'Able',
  'is_active': False},
 {'id': 76007,
  'full_name': 'John Abramovic',
  'first_name': 'John',
  'last_name': 'Abramovic',
  'is_active': False},
 {'id': 203518,
  'full_name': 'Alex Abrines',
  'first_name': 'Alex',
  'last_name': 'Abrines',
  'is_active': False},
 {'id': 1630173,
  'full_name': 'Precious Achiuwa',
  'first_name': 'Precious',
  'last_name': 'Achiuwa',
  'is_active': True},
 {'id': 101165,
  'full_name': 'Alex Acker',
  'first_name': 'Alex',
  'last_name': 'Acker',
  'is_active': False},
 {'id': 76008,
  'full_name': 'Donald Ackerman',
  'first_name': 'Donald',
  'last_name': 'Ackerman',
  'is_active': False},
 {'id': 76009,
  'full_name': 'Mark Acres',
  'first_name': 'Mark',
  'last_name': 'Acres',
  'is_active': False},
 {'id': 76010,
  'full_name': 'Charles Acton',
  'first_name': 'Charles',
  'last_name': 'Acton',
  'is_active': False},
 {'id': 203112,
  'full_name': 'Quincy Acy',
  'first_name': 'Quincy',
  'last_name': 'Acy',
  'is_active': False},
 {'id': 76011,
  'full_name': 'Alvan Adams',
  'first_name': 'Alvan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 76012,
  'full_name': 'Don Adams',
  'first_name': 'Don',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 200801,
  'full_name': 'Hassan Adams',
  'first_name': 'Hassan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 1629121,
  'full_name': 'Jaylen Adams',
  'first_name': 'Jaylen',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 203919,
  'full_name': 'Jordan Adams',
  'first_name': 'Jordan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 149,
  'full_name': 'Michael Adams',
  'first_name': 'Michael',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 203500,
  'full_name': 'Steven Adams',
  'first_name': 'Steven',
  'last_name': 'Adams',
  'is_active': True},
 {'id': 912,
  'full_name': 'Rafael Addison',
  'first_name': 'Rafael',
  'last_name': 'Addison',
  'is_active': False},
 {'id': 1628389,
  'full_name': 'Bam Adebayo',
  'first_name': 'Bam',
  'last_name': 'Adebayo',
  'is_active': True},
 {'id': 1629061,
  'full_name': 'Deng Adel',
  'first_name': 'Deng',
  'last_name': 'Adel',
  'is_active': False},
 {'id': 76015,
  'full_name': 'Rick Adelman',
  'first_name': 'Rick',
  'last_name': 'Adelman',
  'is_active': False},
 {'id': 202399,
  'full_name': 'Jeff Adrien',
  'first_name': 'Jeff',
  'last_name': 'Adrien',
  'is_active': False},
 {'id': 201167,
  'full_name': 'Arron Afflalo',
  'first_name': 'Arron',
  'last_name': 'Afflalo',
  'is_active': False},
 {'id': 1630534,
  'full_name': 'Ochai Agbaji',
  'first_name': 'Ochai',
  'last_name': 'Agbaji',
  'is_active': True}]

In [2]:
from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import cumestatsteamgames, cumestatsteam, gamerotation
import pandas as pd
import numpy as np
import json
import difflib
import time
import requests

In [3]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,30.0,56,54,1905.0,542,...,0.784,195,507,702,148,59,114,122,146,1451

In [5]:
from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:30]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]